/target
/data/AuAuFull11_5GeV
/data/epos-results
/data/eposSim.zip
/data/urQMD-results.zip
/data/urQMDresults
/data/PHQMD
/data/pbpb
/data/PbPbSim
t.txt
phsd.csv.stat
phsd.csv.statistics
results.csv.stat
